html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.site-container {
    max-width: 1000px;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
}

.container {
    margin: 0 auto;
}

.group::after {
    content: '';
    clear: both;
    display: block;
}

/* Header */
#header-wrapper {
    overflow: hidden;
}

#header {
    margin: 0 auto;
    padding: 0;
}

/* Logo */
#logo {
    width: 300px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#logo p {
    margin: 0;
    letter-spacing: -1px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8e8e8e;
}

#logo p a {
    color: #8e8e8e;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */
#menu {
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding-top: 20px;
    list-style: none;
    line-height: normal;
}

#menu a {
    display: block;
    margin-right: 1px;
    padding: 1em 1em;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1f1f1f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */
#page {
    margin: 0 auto;
    padding: 30px 0;
}

.post {
    overflow: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding: 7px 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0 0 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .entry {
    padding: 0 0 40px 0;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    display: block;
    width: 40%;
    padding: 0.5em 0.5em;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2%;
}

.comments {
    display: block;
    width: 40%;
    padding: 0.5em 0.5em;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    width: 270px;
    margin: 0;
    padding: 1em;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0;
    padding-bottom: 30px;
}

#sidebar section li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
    margin: 0;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0 0 0 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h3 {
    padding: 1em 0;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    margin: 0;
    padding: 0 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

#footer a {
    color: #5e5e5e;
}

#banner {
    margin: 0 auto;
    background: url(../img/img03.png) no-repeat left bottom;
}

#banner img {
    height: auto;
    width: 100%;
}

#content {
    padding: 2em;
}

@media all and (min-width: 600px) {
    nav ul {
        text-align: center;
    }
    nav li {
        display: inline-block;
        width: 49%;
    }
    .comments {
        width: 22%;
    }
    .more {
        width: 22%;
    }
}

@media all and (min-width: 850px) {
    nav ul {
        text-align: center;
    }
    nav li {
        width: calc(100% / 6);
    }
}

@media all and (min-width: 950px) {
    #content {
        float: right;
        width: calc(100% / 3 * 2);
    }
    #sidebar {
        float: left;
        width: calc(100% / 3);
    }
}
